body{
    background-color: #fffafa; display: flex; justify-content: center;
}

/*mobile*/

main{
    min-height: 400px; min-width: 300px; margin-top: 100px;
}

#top{
    min-height: 300px; min-width: 300px;
}

#sudoku_table{
    min-height: 300px;
}

#numpad{
    min-height: 100px;
}

#text{
    min-height: 100px; min-width: 300px;
}

/*Tablets*/

@media screen and (min-width: 600px){

    main{
        min-height: 700px; min-width: 600px;
    }

    #top{
        min-height: 600px; min-width: 600px;
    }

    #sudoku_table{
        min-height: 400px; display: flex; justify-content: center;
    }
    
    #numpad{
        min-height: 200px;
    }    

    #text{
        min-height: 200px; min-width: 600px;
    }

}

/*Desktops*/

@media screen and (min-width: 1000px){
    
    main{
        height: 600px; width: 800px; margin-top: unset;
    }
    
    #top{
        min-height: unset; min-width: unset; height: 400px; width: 800px;  
        display: flex; flex-direction: row;
    }

    #sudoku_table{
        display: unset; min-height: unset; height: 400px; width: 500px; 
    }
    
    #numpad{
        min-height: unset; height: 400px;  width: 300px;
    }

    #text{
        min-height: 200px; min-width: 800px;
    }
}