body{
    background-color: #fffafa; display: flex; justify-content: center;
}

/*-mobile-*/

main{
    min-height: 400px; min-width: 300px; margin-top: 100px;
}

#top{
    min-height: 300px; min-width: 300px; justify-self: center; 
    display: flex; flex-direction: column; align-content: center;
}

#sudoku_table{
    min-height: 300px; align-self: center;
}

#numpad{
    min-height: 100px;
}

#text{
    min-height: 100px; min-width: 300px;
}

#sudoku_table>table{
    height: 300px; width: 300px; background-color: black;
}

#sudoku_table>table tr{
    height: 32%; width: 100%;
}

#sudoku_table>table tr td{
    height: 33%; width: 33%; 
}

.subtile{
    height: 100%; width: 100%; 
}

.subtile tr{
    height: 32%; width: 100%; 
}

.subtile tr td{
    height: 33%; width: 33%;
}

.subtile tr td input{
    height: 90%; width: 90%; 
}

#numpad{
    margin-top: 8px;
}

#numpad>table {
    height: 100px; width: 100%; 
}

#numpad>table tr{
    height: 100%; width: 100%; display: flex; justify-content: space-around;
}

#numpad>table tr td{
    height: 75%; width: 25%;
}

#numpad>table tr td button{
    height: 100%; width: 100%;     
}

#numpad>table tr:nth-child(1), #numpad>table tr:nth-child(2), #numpad>table tr:nth-child(3){
    display: none;
}

#utility td button{
    height: 100%;
}

#text>h2{
    border-bottom: 2px solid black;
}

#text>p span{
    display: none;
}

/*Desktop*/
@media screen and (min-width: 1000px){

    main{
        height: 600px; width: 800px; margin-top: unset;
    }
    
    #top{
        min-height: unset; min-width: unset; height: 400px; width: 800px;  
        display: flex; flex-direction: row;
    }

    #sudoku_table{
        display: unset; min-height: unset; height: 400px; width: 500px; 
    }
    
    #numpad{
        min-height: unset; height: 400px;  width: 300px; margin-top: unset;
    }

    #text{
        min-height: 200px; min-width: 800px;
    }

    #sudoku_table>table{
        height: 400px; width: 500px; 
    }

    #numpad>table{
        height: 100%; 
    }

    #numpad>table tr:nth-child(1), #numpad>table tr:nth-child(2), #numpad>table tr:nth-child(3)
    {
        display: table-row;
    }

    #numpad>table tr{
        height: 25%; width: 100%; display: table-row;
    }
    
    #numpad>table tr td{
        height: 25%; width: 32%; 
    }
    
    #numpad>table tr td button{
        height: 100%; width: 100%;     
    }

    #text>p span{
        display: inline;
    }

}